html{
    background-color:#32e532;
}
@media (prefers-color-scheme: dark) {
	/*page-dark-html*/
	html{
		background:#159d15;
	}
}
div.smp-status{
background: rgb(52,153,69);
	background: -moz-linear-gradient(131deg, rgba(52,153,69,1) 45%, rgba(85,85,255,1) 100%);
	background: -webkit-linear-gradient(131deg, rgba(52,153,69,1) 45%, rgba(85,85,255,1) 100%);
	background: linear-gradient(131deg, rgba(52,153,69,1) 45%, rgba(85,85,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#349945",endColorstr="#5555FF",GradientType=1);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index:-2;
}
div.ss-template-container{border:5px black solid; border-radius:10px;margin:10%;padding:10px; padding-top:-10px; }