<div class="row" class="align-center:center;">
    <div class="column list-no-bullets list-align-left text-align-left">    
        <b>Community:</b>
            <ul>
                <li><a href="/member-list">Member List</a></li>
                <li><a href="/badge">Community Member Badge</a></li>
                <li><a href="https://status.worldofsteelcraft.tk">Status Page</a></li>
            </ul>
        <b>Admin:</b>
            <ul>
                <li><a href="https://docs.google.com/spreadsheets/d/1B-b4DVKOoPPDkpAHgLbBY5y3GSPstsf9hvuSvLMR8xo/edit">WoSC Data Sheet</a></li>   
                <li><a href="https://github.com/worldofsteelcraft/web">Website Source Code</a></li>
                <li><a href="/admin">Content Manager</a></li>
            </ul>

        </div>
    <div class="column list-no-bullets list-align-left text-align-left">    
    <b>Follow us:</b>
        <ul>
            <li><a href="https://facebook.com/worldofsteelcraft">Facebook Page</a></li>
            <li><a href="https://tiktok.com/@worldofsteelcraft">Tiktok Account</a></li>
            <li><a href="https://www.youtube.com/channel/UCFLH52oan9SgytmwqNbyI2w">YouTube Channel</a></li>
            <li><a href="https://twitter.com/wosctwt">Twitter Account</a></li>
        </ul>
    <b>Contact us:</b>
            <ul>
                <li><a href="mailto:admins@worldofsteelcraft.tk">Admin Mail</a></li>
                <li>Facebook Messenger <ul>
                    <li><a href="https://m.me/worldofsteelcraft">WoSC Messenger</a></li>
                    <li><a href="https://m.me/scarymasterFB">Scary Master Playz Messenger</a></li>
                    <li><a href="https://m.me/dplayzgames06">dplayz Games Messenger</a></li>
                </li></ul>
                <li><a href="https://discord.gg/DEMvpNuyXx">Discord Server</a></li>
            </ul>
    </div>
</div>
